@import url(_reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



:root{
    --azul: #3772FF;
    --verde:#36D6AD;
    --coral:#FC7071;  
    --coral-hover: #FF9D9E;  
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-claro-fundos: #F6F6F6;

    --poppins: 'Poppins', sans-serif;

    --titulos: 26px;
    --titulo-secundario:21px;
    --textos: 16px;
    --descricoes: 14px;
}





body{
    font-family: var(--poppins);
    font-size: var(--textos);
    color: var(--cinza);
    font-weight: 400;
    color: var(--azul);
    line-height: 24px;
    position: relative;
}


.versao-azul{
    background-color: var(--azul);
    color: var(--creme);
    position: relative;
    background-image: url(/assets/img/forma1.svg), url(/assets/img/forma2.svg);
    background-position-x: 0%, right;
    background-position-y: 0%, 20vh;
    background-repeat: no-repeat;
    z-index: 1;
}

.versao-creme{
    background-color: #FFFFFF;
    color: var(--azul);
    position: relative;
    background-image: url(/assets/img/forma1.svg), url(/assets/img/forma3.png);
    background-position-x: 0%, left;
    background-position-y: 0%, 55vh;
    background-repeat: no-repeat;
}


.titulo{
    font-size: var(--titulos);
    font-weight: 500;
    padding-block: 1.5rem 1rem;
}

.titulo__secundario{
    font-weight: 600;
    color: var(--azul);
    align-self: baseline;
}

.perfil__titulo{
    font-size: var(--titulo-secundario);
    font-weight: 600;
    color: var(--cinza);
}

.texto{
    position: relative;
    text-align: center;
}

.texto__subtitulo-home{
    width: 15rem;
}

.texto__subtitulo{
    width: 20rem;
}

.texto__alerta{
    color: var(--coral);
    font-size: 12px;
    text-decoration: underline;
}


.espaçamentoDescricao{
    width: 80vw;
}

.logo{
  display: block;
  height: 46px;
  width: 186.67px;
}

header{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.background{
    width: 100;
    height: 140;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.cabecalho{
    
    width: 100;
    height: 140;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.logo{
    margin-top: 2rem;
}