<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/base/base.css">
    <link rel="stylesheet" href="/assets/css/componentes/componentes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <title>AdoPet Tela Inicial</title>
    <script src="https://kit.fontawesome.com/028f44d079.js" crossorigin="anonymous"></script>
</head>
<body class="versao-creme">
    <main>

        <header class="cabecalho cabecalho__patas">
            <ul class="cabecalho__navbar">
                <a href="">
                    <li class="cabecalho__navbar__icones cabecalho__navbar__home"></li>
        </a>
        
        <a href="">
            <li class="cabecalho__navbar__icones cabecalho__navbar__mensagens"></li>
        </a>
        <!--    <li class="cabecalho__navbar__icones cabecalho__navbar__usuario">
            <img src="/assets/img/usuario.svg" alt="" class="usuario-img">
        </li>
    </a>
--> 
</ul>
</header>
<div class="conteudo">
    <img src="/assets/img/logo-azul.svg" alt="adopet logo" class="logo">
    <h2 class="titulo">Boas-vindas!</h2>
    <p class="texto">Ainda não tem cadastro? <br>
        Então, antes de buscar seu melhor amigo, precisamos de alguns dados:</p>
    <form action="" class="formulario formulario-cadastro">
        <div class="formulario-campo">
            <label for="e-mail">Email</label>
            <input name="e-mail" placeholder="Escolha seu melhor e-mail" type="text">
        </div>
        <div class="formulario-campo">
            <label for="nome">Nome</label>
            <input name="nome" placeholder="Digite seu nome completo" type="text">
        </div>
        <div class="formulario-campo">
            <label for="senha">Senha</label>
            <div class="formulario__campo-input">
                <input name="senha" placeholder="Crie sua senha" type="text">
                <i class="fa-solid fa-eye-slash fa-sm"></i>
            </div>
        </div>
        <div class="formulario-campo">
            <label for="senhaConfirmar">Confirme sua senha</label>
            <div class="formulario__campo-input">
                <input name="senhaConfirmar" placeholder="Repita a senha criada acima" type="text">
                <i class="fa-solid fa-eye-slash fa-sm"></i>
            </div>
        </div>
    </form>
    <a href="" class="botao botao-p">cadastrar</a>
</div>
<footer class="rodape">
    <p class="rodape__texto">
        2022 - Desenvolvido por Alura.
    </p>
</footer>
</main>
</body>
</html>