<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/base/base.css">
    <link rel="stylesheet" href="/assets/css/componentes/componentes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <title>AdoPet Home</title>
</head>
<body class="versao-creme2">
    <main>
        <header class="cabecalho">
            <ul class="cabecalho__navbar">
        <a href="">
            <li class="cabecalho__navbar__icones cabecalho__navbar__home"></li>
        </a>
        
        <a href="">
            <li class="cabecalho__navbar__icones cabecalho__navbar__mensagens"></li>
        </a>
           <li class="cabecalho__navbar__icones cabecalho__navbar__usuario">
            <img src="/assets/img/usuario.svg" alt="" class="usuario-img">
        </li>
    </a>
</ul>
</header>
<div class="conteudo">
        <p class="texto"> Olá! Veja os amigos <br> disponíveis para adoção!</p>
    <ul class="cards__pets">
        <li class="card__pet ">
            <img src="/assets/img/Imagem Dunga.png" alt="Cachorro porte pequeno pelos curtos com o peito patas e fucinho brancos, cabeça e ombros marrom e costas pretas" class="card__pet__img">
           <div class="card__pet__descricao">
               <h3 class="card__titulo titulo__secundario">Dunga</h3>
               <p class="card__texto">2 anos <br>
                   Porte pequeno <br>
                   Calmo e educado</p>
               <p class="card__texto-cidade">Rio de Janeiro (RJ)</p>
               <p class="card__texto-contato ">Falar com responsável</p>
           </div>
        </li>
    </ul>
  
  
    </div>
    <footer class="rodape">
       <p class="rodape__texto">
            2022 - Desenvolvido por Alura.
        </p>
    </footer>
</main>
</body>
</html>