<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/base/base.css">
    <link rel="stylesheet" href="/assets/css/componentes/componentes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <title>AdoPet Home</title>
</head>
<body class="versao-creme2">
    <img class="background" src="/assets/img/forma1.svg" alt="">
    <header class="cabecalho ">
        <ul class="cabecalho__navbar">
        <li class="cabecalho__navbar__icones cabecalho__navbar__home"><a href=""></a></li>
        <li class="cabecalho__navbar__icones cabecalho__navbar__mensagens"><a href=""></a></li>
        <li class="cabecalho__navbar__icones cabecalho__navbar__usuario"><img src="/assets/img/usuario.svg" alt="" class="usuario-img"><a href=""></a></li>
        </ul>
    </header>
    <main>
        <div class="conteudo">
            <p class="texto"> Olá! Veja os amigos <br> disponíveis para adoção!</p>
            <ul class="cards__pets">
                <li class="card__pet ">
                <img src="/assets/img/Imagem Dunga.png" alt="Cachorro porte pequeno pelos curtos com o peito patas e fucinho brancos, cabeça e ombros marrom e costas pretas" class="card__pet__img">
                    <div class="card__pet__descricao">
                    <h3 class="card__titulo titulo__secundario">Dunga</h3>
                    <p class="card__texto">2 anos
                        Porte pequeno
                        Calmo e educado</p>
                    <p class="card__texto-cidade">Rio de Janeiro (RJ)</p>
                    <a href=""><p class="card__texto-contato ">Falar com responsável</p></a>
                    </div>
                </li>
                <li class="card__pet ">
                <img src="/assets/img/Imagens Felícia.png" alt="Cachorro porte pequeno pelos curtos com o peito patas e fucinho brancos, cabeça e ombros marrom e costas pretas" class="card__pet__img">
                    <div class="card__pet__descricao">
                    <h3 class="card__titulo titulo__secundario">Felícia</h3>
                    <p class="card__texto">3 meses
                        Porte pequeno
                        Ativa e carinhosa</p>
                    <p class="card__texto-cidade">Nova Iguaçu (RJ)</p>
                    <a href=""><p class="card__texto-contato ">Falar com responsável</p></a>
                    </div>
                </li>
                <li class="card__pet ">
                <img src="/assets/img/Imagem - sirius.png" alt="Cachorro porte pequeno pelos curtos com o peito patas e fucinho brancos, cabeça e ombros marrom e costas pretas" class="card__pet__img">
                    <div class="card__pet__descricao">
                    <h3 class="card__titulo titulo__secundario">Sirius</h3>
                    <p class="card__texto">6 meses
                        Porte grande
                        Ativo e educado</p>
                    <p class="card__texto-cidade">Duque de Caxias (RJ)</p>
                    <a href=""><p class="card__texto-contato ">Falar com responsável</p></a>
                    </div>
                </li>
                <li class="card__pet ">
                <img src="/assets/img/Imagem-Fiona.png" alt="Cachorro porte pequeno pelos curtos com o peito patas e fucinho brancos, cabeça e ombros marrom e costas pretas" class="card__pet__img">
                    <div class="card__pet__descricao">
                    <h3 class="card__titulo titulo__secundario">Fiona</h3>
                    <p class="card__texto">3 anos
                        Porte pequeno
                        Calma e carinhosa</p>
                    <p class="card__texto-cidade">São Gonçalo (RJ)</p>
                    <a href=""><p class="card__texto-contato ">Falar com responsável</p></a>
                    </div>
                </li>
                <li class="card__pet ">
                <img src="/assets/img/Imagem - Sid.png" alt="Cachorro porte pequeno pelos curtos com o peito patas e fucinho brancos, cabeça e ombros marrom e costas pretas" class="card__pet__img">
                    <div class="card__pet__descricao">
                    <h3 class="card__titulo titulo__secundario">Sid</h3>
                    <p class="card__texto">8 meses
                        Porte médio/grande
                        Brincalhão e amável</p>
                    <p class="card__texto-cidade">Rio de Janeiro (RJ)</p>
                    <a href=""><p class="card__texto-contato ">Falar com responsável</p></a>
                    </div>
                </li>
                <li class="card__pet ">
                <img src="/assets/img/Imagem - Yoda.png" alt="Cachorro porte pequeno pelos curtos com o peito patas e fucinho brancos, cabeça e ombros marrom e costas pretas" class="card__pet__img">
                    <div class="card__pet__descricao">
                    <h3 class="card__titulo titulo__secundario">Yoda</h3>
                    <p class="card__texto">1 ano
                        Porte médio
                        Ativo e carinhoso</p>
                    <p class="card__texto-cidade">Nova Iguaçu (RJ)</p>
                    <a href=""><p class="card__texto-contato ">Falar com responsável</p></a>
                    </div>
                </li>
                <li class="card__pet ">
                <img src="/assets/img/Imagenm Lua.png" alt="Cachorro porte pequeno pelos curtos com o peito patas e fucinho brancos, cabeça e ombros marrom e costas pretas" class="card__pet__img">
                    <div class="card__pet__descricao">
                    <h3 class="card__titulo titulo__secundario">Lua</h3>
                    <p class="card__texto">6 meses
                        Porte médio
                        Ativa e carinhosa</p>
                    <p class="card__texto-cidade">Duque de Caxias (RJ)</p>
                    <a href=""><p class="card__texto-contato ">Falar com responsável</p></a>
                    </div>
                </li>
                <li class="card__pet ">
                <img src="/assets/img/Imagem - Amora-1.png" alt="Cachorro porte pequeno pelos curtos com o peito patas e fucinho brancos, cabeça e ombros marrom e costas pretas" class="card__pet__img">
                    <div class="card__pet__descricao">
                    <h3 class="card__titulo titulo__secundario">Amora</h3>
                    <p class="card__texto">45 dias
                        Porte grande
                        Calma e carinhosa</p>
                    <p class="card__texto-cidade">São Gonçalo (RJ)</p>
                    <a href=""><p class="card__texto-contato ">Falar com responsável</p></a>
                    </div>
                </li>
                <li class="card__pet ">
                <img src="/assets/img/Imagem - Amora.png " alt="Cachorro porte pequeno pelos curtos com o peito patas e fucinho brancos, cabeça e ombros marrom e costas pretas" class="card__pet__img">
                    <div class="card__pet__descricao">
                    <h3 class="card__titulo titulo__secundario">Zelda</h3>
                    <p class="card__texto">5 meses
                        Porte médio
                        Ativa e amável</p>
                    <p class="card__texto-cidade">Rio de Janeiro (RJ)</p>
                    <a href=""><p class="card__texto-contato ">Falar com responsável</p></a>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <footer class="rodape rodape__home">
        <p class="rodape__texto">2022 - Desenvolvido por Alura.</p>
    </footer>
    
</body>
</html>