<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/base/base.css">
    <link rel="stylesheet" href="/assets/css/componentes/componentes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <title>AdoPet Home</title>
</head>
<body class="versao-creme2">
    <main>
        <header class="cabecalho">
            <ul class="cabecalho__navbar">
        <a href="">
            <li class="cabecalho__navbar__icones cabecalho__navbar__home"></li>
        </a>
        
        <a href="">
            <li class="cabecalho__navbar__icones cabecalho__navbar__mensagens"></li>
        </a>
           <li class="cabecalho__navbar__icones cabecalho__navbar__usuario">
            <img src="/assets/img/usuario.svg" alt="" class="usuario-img">
        </li>
    </a>
</ul>
</header>
<div class="conteudo">
    <p class="texto">Envie uma mensagem para <br> a pessoa ou instituição que <br> está cuidando do animal:</p>
    <form action="" class="formulario formulario-mensagem">
        <div class="formulario-campo">
            <label class="titulo__secundario" for="nome-mensagem">Nome</label>
                <div class="formulario__campo-input">
                    <input class="mensagem__input" name="nome-mensagem" placeholder="Insira seu nome completo" type="text">
                    <i class="fa-solid fa-eye-slash fa-sm"></i>
                </div>
                <div class="formulario-campo">
                    <label class="titulo__secundario" for="telefone-mensagem">Telefone</label>
                    <input class="mensagem__input" name="telefone-mensagem" placeholder="Insira seu telefone e/ou whatsapp" type="text">
                </div>
                <div class="formulario-campo">
                    <label class="titulo__secundario" for="animal-mensagem">Nome do animal</label>
                    <input class="mensagem__input" name="animal-mensagem" placeholder="Por qual animal você se interessou?" type="text">
                </div>
                <div class="formulario-campo">
                    <label class="titulo__secundario" for="mensagem">Mensagem</label>
                    <textarea class="mensagem__input mensagem__input " placeholder="Escreva sua mensagem." name="Text1" cols="18" rows="6"></textarea>

                </div>
        </div>
    </form>
    <a href="" class="botao botao-p">Enviar</a>
</div>
<footer class="rodape">
    <p class="rodape__texto">
        2022 - Desenvolvido por Alura.
    </p>
</footer>
</main>
</body>
</html>