<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/base/base.css">
    <link rel="stylesheet" href="/assets/css/componentes/componentes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <title>AdoPet Tela Inicial</title>
</head>
<body class="versao-azul">
    <img class="background" src="/assets/img/forma1.svg" alt="">
    <header class="cabecalho ">
        <ul class="cabecalho__navbar">
        <li class="cabecalho__navbar__icones cabecalho__navbar__home"><a href=""></a></li>
        <li class="cabecalho__navbar__icones cabecalho__navbar__mensagens"><a href=""></a></li>
        <li class="cabecalho__navbar__icones cabecalho__navbar__usuario"><img src="/assets/img/usuario.svg" alt="" class="usuario-img"><a href=""></a></li>
        </ul>
    </header>
<main>
<div class="conteudo">
    <img src="/assets/img/logo-creme.svg" alt="logo adopet" class="logo">
        <h2 class="titulo">Boas-vindas!</h2>
        <p class="texto texto__subtitulo-home">Que tal mudar sua vida adotando seu novo melhor amigo? Vem com a gente!</p>
        <div class="botoes">
            <a href="" class="botao">Já tenho conta</a>
            <a href="" class="botao">Quero me cadastrar</a>
        </div>
    </div>
</main>
<footer >
    <div class="rodape__background "></div>
    <p class="rodape rodape__texto">2022 - Desenvolvido por Alura.</p>
</footer>
</body>
</html>