.botoes{
    margin-block:1rem 0px;
}

.botao{
    display: block;
    text-align: center;
    margin: 1rem;
    background-color: var(--coral);
    text-decoration: none;
    font-weight: 600;
    color: var(--creme);
    padding-inline: 1.2rem;
    padding-block: .5rem;
    border-radius: 6px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.botao-p{
    padding-inline: 2.7rem;
    display: block;
}

.botao:hover{
    background-color: var(--coral-hover);
}