
.rodape{
    position: absolute;
    margin-top: 166px;
    display: block;
    background-color: var(--verde);
    padding-block: 41px;
    width: 100%;
    text-align: center;
}

.rodape__texto{
    color: white;
}

.rodape__background{
    background-image: url(/assets/img/Ilustração1.svg);
    background-repeat: no-repeat;
    margin: 0px auto;
    width: 17rem;
    height: 20rem;
    align-self: center;
    margin-bottom: -55%;
}

.rodape__home{
    margin-top: 0px;
}